code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 0.3em;
  /* margin: -1px 0; */
  margin-left: 3px;
  margin-right: 3px;
}
